<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button
        class="btn btn-primary"
        (click)="onlyOdd = !onlyOdd">Only show odd numbers</button>
      <br><br>
      <ul class="list-group">
        <div *ngIf="onlyOdd">
        <li
          class="list-group-item"
          [ngStyle] ="{backgroundColor: number % 2 !== 0 ? 'yellow' : 'transparent'}"
          [ngClass]="{odd: number % 2 !==0}"
        *ngFor = "let number of oddNumber">
          {{number}}
        </li>
        </div>
        <div *ngIf="!onlyOdd">
          <li
            class="list-group-item"
            [ngClass]="{odd: number % 2 !==0}"
            *ngFor = "let number of evenNumber">
            {{number}}
          </li>
        </div>
        <div *appUnless="!onlyOdd">
          <li
            class="list-group-item"
            [ngClass]="{odd: number % 2 !==0}"
            *ngFor = "let number of evenNumber">
            {{number}}
          </li>
        </div>
      </ul>
      <ng-template [ngIf]="onlyOdd">
        <p appBasicHighlight>Only odd</p>
        <p appBetterHighlight [defaultColor]="'yellow'" [highlighColor]="'red'">Only odd</p>
      </ng-template>
      <!-- ngSwitch statement-->
      <div [ngSwitch]="value">
        <p *ngSwitchCase="0">value 0</p>
        <p *ngSwitchCase="10">value 10</p>
        <p *ngSwitchCase="100">value 100</p>
        <p *ngSwitchCase="1000">value 1000</p>
      </div>
    </div>
  </div>
</div>
